<div class="container desktop-responsive">

  <h3>
    <br> COVID-19 Coronavirus Statistics

  </h3>
  <table class="table table-success">
    <thead>
      <tr>

        <th>country Name</th>
        <th>confirmed</th>
        <th>new cases</th>
        <th>deaths</th>
        <th>recovered</th>
        <th>last update </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let covid of covidNumb let i=index">

        <td>{{covid.country}}</td>
        <td>{{covid.cases.total}}</td>
        <td>{{covid.cases.new}}</td>
        <td [ngClass]='{"table-danger":covid.deaths.total>0}'>{{covid.deaths.total}}</td>
        <!-- <td [ngClass]='{"table-danger":covid.deaths>0}'>{{covid.cases.active}}</td> -->
        <td>{{covid.cases.recovered}}</td>
        <td>{{covid.time| date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</td>
      </tr>
    </tbody>
  </table>
  <h4><br>All over the world</h4>
  <table class="table">
    <thead>
      <tr class="table-secondary">

        <th>country Name</th>
        <th>confirmed</th>
        <th>new</th>
        <th>deaths</th>
        <th>recovered</th>
        <th class="time-disable-mobile">last update </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let covid of covidNumbAll let i=index">

        <td>{{covid.country}}</td>
        <td>{{covid.cases.total}}</td>
        <td>{{covid.cases.new}}</td>
        <td [ngClass]='{"table-danger":covid.deaths.total>0,"bg-danger":covid.deaths.total>100 }'>{{covid.deaths.total}}
        </td>
        <!-- <td [ngClass]='{"table-danger":covid.deaths>0}'>{{covid.cases.active}}</td> -->
        <td>{{covid.cases.recovered}}</td>
        <td class="time-disable-mobile">{{covid.time| date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</td>
      </tr>
    </tbody>
  </table>

</div>
<div class="container mobile-responsive">
  <h3>
    <br> COVID-19 Coronavirus Statistics

  </h3>
  <div class="card" *ngFor="let covid of covidNumb">
    <div class="card-body custom-card-body"><i class="fa fa-angle-down custom-icon" aria-hidden="true"
        (click)="expandClick()"></i>
      <!-- <i class="fa fa-angle-down custom-icon" aria-hidden="true" (click)="collpaseClick()"></i> -->
      <h5 class="card-title">{{covid.country}}</h5>
      <div class="custom-text" *ngIf="expandDiv">
        <p class="card-text text-warning">confirmed:{{covid.cases.total}}</p>
        <p class="card-text text-danger">deaths:{{covid.deaths.total}}</p>
        <p class="card-text text-danger">new:{{covid.cases.new}}</p>
        <p class="card-text text-success">recover:94</p>
        <p class="card-text">last update:{{covid.time| date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</p>
      </div>
      <div class="custom-text" *ngIf="defaultInfo">
        <p class="card-text text-warning">confirmed:{{covid.cases.total}}</p>
        <p class="card-text text-danger">deaths:{{covid.deaths.total}}</p>
      </div>

    </div>
  </div>

  <h4><br><br>All over the world</h4>

  <div class="card" *ngFor="let covid of covidNumbAll let i=index">
    <div class="card-body custom-card-body"><i class="fa fa-angle-down custom-icon" aria-hidden="true"
        (click)="expandClick1(covid)"></i>
      <!-- <i class="fa fa-angle-down custom-icon" aria-hidden="true" (click)="collpaseClick()"></i> -->
      <h5 class="card-title">{{covid.country}}</h5>
      <div class="custom-text" *ngIf="expandDiv1">
        <p class="card-text text-warning">confirmed:{{covid.cases.total}}</p>
        <p class="card-text text-danger">deaths:{{covid.deaths.total}}</p>
        <p class="card-text text-danger">new:{{covid.cases.new}}</p>
        <p class="card-text text-success">recover:94</p>
        <p class="card-text">last update:{{covid.time| date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</p>
      </div>
      <div class="custom-text" *ngIf="defaultInfo1">
        <p class="card-text text-warning">confirmed:{{covid.cases.total}}</p>
        <p class="card-text text-danger">deaths:{{covid.deaths.total}}</p>
      </div>

    </div>
  </div>
</div>
