<div class="container desktop-responsive">

  <h3>
    <br> COVID-19 Coronavirus Statistics

  </h3>
  <div class="col-xs-12 col-md-12 text-center padd0" *ngIf="loaderShowingAllIndia">
    <div class="loader"></div>
  </div>
  <table class="table table-success">
    <thead>
      <tr>

        <th>country Name</th>
        <th>confirmed</th>
        <th>new cases</th>
        <th>deaths</th>
        <th>recovered</th>
        <th>last update </th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let covid of covidNumb let i=index">

        <td>{{covid.country}}</td>
        <td>{{covid.cases.total}}</td>
        <td>{{covid.cases.new}}</td>
        <td [ngClass]='{"table-danger":covid.deaths.total>0}'>{{covid.deaths.total}}</td>
        <!-- <td [ngClass]='{"table-danger":covid.deaths>0}'>{{covid.cases.active}}</td> -->
        <td>{{covid.cases.recovered}}</td>
        <td>{{covid.time| date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row sticky-header" style="margin-top:30px;">
    <div class="col-md">
      <h4 class="all-label-desktop">All over the world</h4>
    </div>
    <div class="col-md">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search" name="search" [(ngModel)]="searchText"
          autocomplete="off" placeholder="search country name">
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-md-12 text-center padd0" *ngIf="loaderShowingAllWorld">
    <div class="loader"></div>
  </div>

  <table class="table">
    <thead>
      <tr class="table-secondary">

        <th>country Name</th>
        <th>confirmed</th>
        <th>new</th>
        <th>deaths</th>
        <th>recovered</th>
        <th class="time-disable-mobile">last update </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let covid of covidNumbAll | filter:searchText  let i=index" class={{covid.country}}>

        <td >{{covid.country}}</td>
        <td>{{covid.cases.total}}</td>
        <td>{{covid.cases.new}}</td>
        <td [ngClass]='{"table-danger":covid.deaths.total>0,"bg-danger":covid.deaths.total>100 }'>{{covid.deaths.total}}
        </td>
        <!-- <td [ngClass]='{"table-danger":covid.deaths>0}'>{{covid.cases.active}}</td> -->
        <td>{{covid.cases.recovered}}</td>
        <td class="time-disable-mobile">{{covid.time| date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</td>
      </tr>
    </tbody>
  </table>

</div>

<!-- mobile view -->
<div class="container mobile-responsive">

  <h3>
    <br> COVID-19 Coronavirus Statistics

  </h3>
  <div class="col-xs-12 col-md-12 text-center padd0" *ngIf="loaderShowingAllIndia">
    <div class="loader"></div>
  </div>

  <div class="card" *ngFor="let covid of covidNumb">
    <div class="card-body custom-card-body">
      <!-- <i class="fa fa-angle-down custom-icon" aria-hidden="true"
        (click)="expandClick()"></i> -->
      <!-- <i class="fa fa-angle-down custom-icon" aria-hidden="true" (click)="collpaseClick()"></i> -->
      <i class="fa fa-angle-down custom-icon" aria-hidden="true" [ngbPopover]="popContentIndia" popoverClass="my-custom-class" placement="left"></i>
      <h5 class="card-title">{{covid.country}}</h5>
      <div class="custom-text">
        <p class="card-text text-default">confirmed: {{covid.cases.total}}</p>
        <p class="card-text text-danger">deaths: {{covid.deaths.total}}</p>
        <ng-template #popContentIndia>
        <p class="card-text text-danger popupText">new: {{covid.cases.new}}</p>
        <p class="card-text text-success popupText">recover: {{covid.cases.recovered}}</p>
        <p class="card-text popupText">last update: {{covid.time| date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</p>
        </ng-template>
      </div>
  

    </div>
  </div>



  <div class="col-xs sticky-header">
  <h4><br><br>All over the world</h4>
  <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search" name="search" [(ngModel)]="searchText"
        autocomplete="off" placeholder="search country name">
    </div>
  </div>

    <div class="col-xs-12 col-md-12 text-center padd0" *ngIf="loaderShowingAllWorld">
    <div class="loader"></div>
  </div>
  <div class="card" *ngFor="let covid of covidNumbAll | filter:searchText let i=index">
    <div class="card-body custom-card-body" id={{covid.country}}><i class="fa fa-angle-down custom-icon" aria-hidden="true" [ngbPopover]="popContent" popoverClass="my-custom-class" placement="left"></i>
        <!-- <button type="button" class="btn btn-outline-secondary mr-2" placement="bottom"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on top">
  Popover on top
</button> -->
      <h5 class="card-title">{{covid.country}}</h5>
      <div class="custom-text" >
        <p class="card-text text-default">confirmed: {{covid.cases.total}}</p>
        <p class="card-text text-danger">deaths: {{covid.deaths.total}}</p>
        <ng-template #popContent>
       
        <p class="card-text text-danger popupText">new: {{covid.cases.new}}</p>
        <p class="card-text text-success popupText">recover: {{covid.cases.recovered}}</p>
        <p class="card-text popupText">last update: {{covid.time| date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</p>
      
    </ng-template>
      <!-- <div class="custom-text" *ngIf="defaultInfo1">
        <p class="card-text text-default">confirmed:{{covid.cases.total}}</p>
        <p class="card-text text-danger">deaths:{{covid.deaths.total}}</p>
      </div> -->

    </div>
  </div>
</div>


